<!-------------------------------------------------------------------------------------------------
Lists all the public chat rooms on the website
-------------------------------------------------------------------------------------------------->

{% extends "OB/base.html" %}

{% block head %}
  <title>
      Show me the rooms!
  </title>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="mx-auto text-center">
      <h1>Choose your chat</h1>
      {% for room in rooms %}
        <a href="{% url 'OB:OB-room' room.name %}">{{ room.display_name }}</a><br>
      {% endfor %}
      <br>
      <a href="{% url 'OB:OB-create_room' %}"><strong>Create your own soverign room</strong></a>
    </div>
  </div>
{% endblock %}