<!-------------------------------------------------------------------------------------------------
Allows an authenticated user to create a new room
-------------------------------------------------------------------------------------------------->

{% extends "OB/base.html" %}

{% block head %}
  <title>
    OB a room
  </title>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="mx-auto text-center">
      <h1>
        {% if not error_message %}
          It's aliiive!
        {% else %}
          Yikes
        {% endif %}
      </h1>

      {% if error_message %}
        <p><font color="red"><strong>{{ error_message }}</strong></font></p>
      {% endif %}

      <form action="{% url 'OB:OB-create_room' %}" method="post">
        {% csrf_token %}
        <p>Room Name</p>
        <input type="text" class="form-control" id="room-name" placeholder="obchat" style="max-width: 200px"
              value="{% if room_name %}{{ room_name }}{% endif %}">

        <br><hr>

        <p>Display Name</p>
        <input type="text" class="form-control" id="display-name" placeholder="OBChat" style="max-width: 200px"
              value="{% if display_name %}{{ display_name }}{% endif %}"><br><br>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}