<!-------------------------------------------------------------------------------------------------
When a room with the name in the URL cannot be found
-------------------------------------------------------------------------------------------------->

{% extends "OB/base.html" %}

{% block head %}
  <title>
    A room for ghosts?
  </title>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="mx-auto text-center">
      <h1>Nope!</h1>
      <p>We couldn't find that room for you. Maybe it's a ghost room...</p>
      <p>3spooky5me! <a href="{% url 'OB:OB-chat' %}">Run away!</a>
    </div>
  </div>
{% endblock %}
