<!-------------------------------------------------------------------------------------------------
When a user with the username in the URL cannot be found
-------------------------------------------------------------------------------------------------->

{% extends "OB/base.html" %}

{% block head %}
  <title>
    Missing Person
  </title>
{% endblock %}

{% block body %}
  <h1>Mysterious...</h1>
  <p>Nobody by that username is in our database. They say a database never forgets.</p>
  <a href="{% url 'OB:OB-chat' %}">Time to chat with people who DO exist!</a>
{% endblock %}
