<!-------------------------------------------------------------------------------------------------
Shows user information and allows a user to edit their own information
-------------------------------------------------------------------------------------------------->

{% extends "OB/base.html" %}

{% block head %}
  <title>
    Knock Knock, Who's There?
  </title>

  {% load static %}
  <script src="{% static 'OB/cookie.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="mx-auto text-center">
      <h1>User Info</h1>
      {% if user.is_expelled %}
          <p><font color="red"><strong>EXPELLED</strong></font></p>
      {% endif %}

      <div id="display-info">
        <h3>Username</h3>
        <p>{{ user.username }}</p>

        <h3>Display Name</h3>
        <p name="can-edit" id="display-name">{% if user.display_name %}{{ user.display_name }}{% else %}{{ user.username }}{% endif %}</p>
        <input name="edit-input" id="display-name-input" style="display: none"/>

        <h3>Real Name</h3>
        <p name="can-edit" id="real-name">{{ user.first_name }}{{ user.last_name }}
                                          {% if not user.first_name and not user.last_name %} Oswald Bobberson {% endif %}
        </p>
        <input name="edit-input" id="real-name-input" style="display: none"/>

        <h3>Birthday</h3>
        <p name="can-edit" id="birthday">{% if user.birthday %}{{ user.birthday }}{% else %}February 30th, Never{% endif %}</p>
        <input type="date" name="edit-input" id="birthday-input" style="display: none"/>

        <h3>Email</h3>
        <p>{{ user.email }}</p>

        <h3>Joined</h3>
        <p>{{ user.date_joined }}</p>

        <h3>Last Login</h3>
        <p>{{ user.last_login }}</p>
      </div>

      <button class="btn btn-primary" name="buttons" id="save-button" style="display: none">Save</button>
      <button class="btn btn-secondary" name="buttons" id="cancel-button" style="display: none">Cancel</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    var originalChangedInfo = {};
    var unsavedChanges = {};

    // A user may only edit if this is their page, and they are not expelled
    if (
        "{{ user.is_expelled }}" === "False"
        && {{ user.id }} ===
            {% if request.user.id >= 0 %}
                {{ request.user.id }}
            {% else %}
                -1
            {% endif %}
    ) {
      // Click to edit
      $("p[name=\"can-edit\"]").on("click", function(event) {
        var editInput = $("input[id^=" + event.target.id + "]");

        editInput.css({"display": $(this).css("display")});
        editInput.val($(this).text());
        editInput.focus();

        $(this).css({"display": "none"});
      });

      // Click away to stop editing
      $("input[name=\"edit-input\"]").focusout(function(event) {
        if ($(this).css("display") == "none") {
          return;
        }

        var displayValueId = event.target.id.substring(0, event.target.id.length - "-input".length);
        var displayValue = $(("#" + displayValueId));

        displayValue.css({"display": $(this).css("display")});

        var trimmedInput = $(this).val().trim();

        // Show buttons and stores previous value in case changes are cancelled
        if (trimmedInput && trimmedInput != displayValue.text()) {
          originalChangedInfo[displayValueId] = displayValue.text();
          unsavedChanges[displayValueId] = trimmedInput;

          $("button[name=\"buttons\"]").css({"display": $(this).css("display")});

          displayValue.text(trimmedInput);
        }

        $(this).css({"display": "none"});
      });

      // Press enter to stop editing
      $("input[name=\"edit-input\"]").keypress(function(event) {
        if (event.which == 13) {
          event.preventDefault();
          $(this).trigger("focusout");
        }
      });

      // AJAX POST the changes to be saved
      $(document).ready(function() {
        $("#save-button").click(function(event) {
          if ($(this).css("display") == "none") {
            return;
          }

          $.ajax({
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            type: "POST",
            url: "/OB/user/{{ user.username }}/",
            data: unsavedChanges,
          });

          originalChangedInfo = {};
          unsavedChanges = {};

          $(this).css({"display": "none"});
          $("#cancel-button").css({"display": "none"});
        });
      });

      // Discard the changes made
      $("#cancel-button").on("click", function(event) {
        if ($(this).css("display") == "none") {
          return;
        }

        for (var id of Object.keys(originalChangedInfo)) {
          $(("#" + id)).text(originalChangedInfo[id]);
        }

        originalChangedInfo = {};
        unsavedChanges = {};

        $("#save-button").css({"display": "none"});
        $(this).css({"display": "none"});
      })
    }
  </script>
{% endblock %}
